html {
    margin: 10px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(225, 252, 247);
    font-family: "Pragati Narrow", sans-serif;
}

h3 {
    margin: 5px;
}

p {
    margin: 5px;
}

.oscuro {
    background-color: rgb(137, 155, 151);
}

.seleccionado {
    background-color: greenyellow;
}

header {
    background-color: rgba(82, 216, 180, 255);
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

#logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: "Ribeye Marrow", cursive;
    text-decoration: underline;
    text-shadow: 6px 3px rgba(0, 0, 0, 0.253);
}

#imagen {
    width: 120px;
    height: 120px;
    border-radius: 35px;
}

#ingreso {
    background-color: none;
    display: flex;
    margin-right: 20px;
}

#ingreso input {
    margin: 5px;
}

#registro {
    margin-top: 5px;
    margin-left: 5px;
}

.registro {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    top: 80px;
    right: 450px;
    width: 500px;
    height: 500px;
    background-color: cornflowerblue;
}

#saludoCarrito {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

#carrito {
    position: fixed;
    top: 200px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#cartLogo {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    background-color: rgb(255, 62, 62);
    border-radius: 25px;
    padding: 3px;
}

#cartLogo input {
    justify-self: center;
    align-self: center;
    width: 50px;
    height: 50px;
}

#openCart {
    background-color: rgb(255, 62, 62);
    width: 300px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
}

.invisible {
    display: none;
}

.pesos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 50px;
}

.pesos img {
    height: 200px;
    width: 200px;
}

#sabores {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.helado {
    display: flex;
    width: 180px;
    height: fit-content;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    border-radius: 15px;
}

.helado img {
    border-radius: 15px;
    width: 120px;
    height: 120px;
}

.agregar {
    background-color: rgb(109, 255, 109);
    border-radius: 15px;
    border-width: 1px;
    width: 100px;
    height: 30px;
}

.agregar:active {
    background-color: rgb(79, 179, 79);
}

#formContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#form {
    margin-top: 20px;
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 62, 62);
}

#form input {
    margin: 3px;
}

footer {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    background-color: antiquewhite;
}

.swal-overlay {
    background-color: rgba(188, 252, 207, 0.384);
}

.swal-modal {
    background-color: rgb(121, 253, 60);
    border: 2px solid black;
}

.swal-button {
    border-radius: 2px;
    background-color:rgb(255, 62, 62);
}

.swal-icon {
    width: 400px;
    height: 250px;
}
